 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #ecf0f3;
}


.box {
  max-width: 350px;
  min-height: 500px;
  margin: 80px auto;
  padding: 40px 30px 30px 30px;
  background-color: #ecf0f3;
  border-radius: 15px;
  box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #fff

}

.box h1 {
  color: steelblue;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;

}

.box input
{
  padding: 14px 10px;
  width: 250;
  border-radius: 24px;
  transition: 0.25px;
  display: block;
  margin: 20px auto;
  color: black;
  text-align: center;
  border: 3px solid lightgrey;

}

.box input:focus {
  width: 280px;
  border-color: steelblue;
}

.box input[type="submit"]{
  border: 0;
  background: lightgrey;
  display: block;
  margin: 20px auto;

  border: 3px solid steelblue;
  padding: 14px 35px;
  color: black;
  text-align: center;
  border-radius: 24px;
  transition: 0.25px;
  cursor: pointer;
}

.box input[type="submit"]:hover{
background: steelblue;
}
